@import url("variables.css");

.container {
  height: 100vh;
}

.row {
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.col-auto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-background);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.row > .col-auto:first-child {
  position: relative;
}

.row > .col-auto:last-child {
  width: 400px;
  padding: 50px;
  gap: 5rem;
}

.bg {
  height: 279px;
  width: 300px;

  object-fit: cover;
  object-position: center;

  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #c1aa01;
}

.logo-container p,
.logo-container h5 {
  margin: 0;
}

.logo-cca {
  width: 150px;
  margin-bottom: 10px;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--border-color);
  padding: 0;
  font-size: var(--regular);
  background-color: var(--primary-background);
}

.login-btn span {
  padding-left: 12px;
  padding-right: 12px;
  font-size: var(--regular);
}

.google-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50 px;
  width: 50px;
  padding: 6px;
}

.login-btn:hover {
  border: solid 1px var(--border-color);
  background-color: var(--blue);
  color: var(--active-text);
  .google-icon {
    background-color: var(--primary-background);
  }
}
