/* MEDIA QUERIES */
/* Mobile */
@media (max-width: 576px) {
  .calendar-container {
    height: 100vh;
  }
}

/* Large Phone */
@media (min-width: 576px) {
  .calendar-container {
    height: 100vh;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .calendar-container {
    height: 100%;
  }
}

/* Large Desktop */
@media (min-width: 992px) {
}

/* Extra Large Desktop */
@media (min-width: 1200px) {
}

/* Extra Extra Large Desktop */
@media (min-width: 1400px) {
}
