.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.active-members {
  img {
    height: 30px;
    width: 30px;

    object-fit: cover;

    border-radius: 50%;
    border: 1px solid var(--border-color);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .container {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;

      a {
        color: var(--primary-text);

        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;

        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      i {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.625rem;
      }

      h5 {
        color: var(--inactive-text-dark);
      }

      .col {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        align-items: center;
      }
    }
  }
}

.events {
  > .body {
    gap: 1rem;
  }

  .events-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  table {
    margin-bottom: 0;
  }

  thead {
    position: sticky;
    top: 0;

    box-shadow: 0 1px 0 var(--border-color);
  }

  /* EVENTS TABS */
  .events-tabs {
    height: 350px;

    > .col {
      display: flex;
      flex-direction: column;

      height: 100%;
    }

    table tbody tr:last-child td {
      border-bottom: none;
    }

    .tab-content {
      height: 100%;

      overflow: hidden;

      background-color: var(--primary-background);

      padding-right: 1rem;

      border-bottom: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);
      border-right: 1px solid var(--border-color);

      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);

      .tab-pane {
        height: 100%;
      }

      .container-fluid {
        height: 100%;
        overflow-y: auto;
      }

      table {
        .organization-column {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          align-items: center;

          img {
            height: 25px;
            width: 25px;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid var(--border-color);
          }
        }
      }
    }
  }

  /* EVENTS CHART */
  .events-chart {
    > .col {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .row {
      flex-direction: row;
      gap: 1rem;
    }
  }

  .event-approvals {
    width: 450px;

    img {
      height: 35px;
      width: 35px;
      object-fit: cover;
      border: 1px solid var(--border-color);

      border-radius: 50%;
    }

    > .container-fluid {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    > .container-fluid > .header {
      padding-bottom: 1rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      margin-bottom: 1rem;

      border-bottom: 1px solid var(--border-color);

      .col {
        justify-content: center;
        align-items: center;
      }
    }

    > .container-fluid > .body {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      height: 1vh;
      overflow-y: auto;

      .event-request-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 1rem;

        background-color: var(--secondary-background);
        border-radius: var(--border-radius);

        h5 {
          color: var(--inactive-text-dark);
        }

        > .header {
          gap: 0.625rem;

          align-items: center;

          border-bottom: 1px solid var(--border-color);
          padding-bottom: 0.5rem;

          > div {
            gap: 0.25rem;
          }
        }

        > .body {
          gap: 1rem;
          .col {
            gap: 0.25rem;
          }
        }
      }
    }
  }
}
