.page-body {
  height: 100%;
}

.calendar-container {
  height: 100%;
}

/* TIPPY */
.tippy-event-details {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.625rem;
  padding-bottom: 1rem;
  > .col {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .header {
      .col > :first-child {
        margin-right: 15rem;
      }

      .col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .action-group {
          display: flex;
          align-items: center;
          gap: 1rem;

          i {
            font-size: 1.25em;
          }

          .delete-btn {
            color: var(--danger);
          }

          .edit-btn {
            color: var(--info);
          }

          .options-btn {
            color: var(--primary-text);
          }
        }
      }
    }
    .title {
      .col {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        h4 {
          font-weight: var(--bold);
        }
      }
    }
    .date {
      gap: 1rem;

      /* .col {
        width: 300px;
      } */
    }
  }
}

.tippy-options {
  .button {
    &:hover {
      color: var(--hovered);
    }
  }
}

/* MODAL */

/* Budget Approval Modal */
.budget-approval-modal {
  .modal-body > .container-fluid {
    min-height: 30vh;

    .action-group {
      justify-content: center;
      align-items: unset;

      button {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 10px;
        padding-right: 10px;

        border-radius: var(--border-radius);

        color: var(--active-text);
      }

      .approve-btn,
      .reject-btn {
        width: 3rem;
      }

      .approve-btn {
        font-size: 22px;
      }

      .reject-btn {
        font-size: 16px;
        -webkit-text-stroke: 0.1px;
      }

      .change-amount-btn {
        background-color: var(--blue);
        border: 1px solid var(--dark-blue);
        font-size: var(--very-small);
      }
    }

    thead {
      position: sticky;
      top: 0;
      tr {
        th:last-child {
          text-align: center;
        }
      }
    }

    tbody {
      a {
        color: var(--primary-text);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      tr {
        td:first-child {
          max-width: 100px;

          overflow: hidden;

          button {
            width: 100%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            text-align: start;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        td:last-child {
          width: 100px;
        }
      }
    }
  }
}

/* Change Amount Modal */
.change-budget-amount-modal {
  .modal-body > .container-fluid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-weight: var(--semi-bold);
    }

    .row > .col {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
