.tippy-selection {
  button {
    color: var(--primary-text) !important;
  }
}

.page-body {
  height: 100%;
}

/* .scheduled-by {
} */

/* PANEL: EVENT APPROVAL */
.event-approval-panel {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--primary-background);

  width: 0rem;
  height: 100vh;

  border-left: 1px solid var(--border-color);

  padding: 0rem;
  gap: 1rem;

  transition: 0.3s ease;
  h3 {
    font-weight: var(--medium);
  }
}

.event-approval-panel.show {
  width: 24rem;
  padding: 1rem;
}

/* CARD: EVENT REQUEST */
.event-request-card {
  background-color: var(--secondary-background);
  padding: 1rem;

  border-radius: var(--border-radius);

  > .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    border-bottom: 1px solid var(--primary-text);
    padding-bottom: 0.625rem;

    .profile-container {
      justify-content: center;
    }

    .row {
      gap: 0.625rem;
    }

    .col,
    .col-auto {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      .image {
        width: 25px;
        height: 25px;
        background-color: var(--);
        border-radius: 50%;
      }

      h4 {
        font-weight: var(--medium);
      }
    }
  }

  .default {
    gap: 0.625rem;
  }

  .body {
    .col {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .date {
        gap: 1rem;
        .row {
          gap: 1rem;
        }
        .col {
          gap: 0;
        }
      }
    }
  }

  .button-row {
    gap: 0.5rem;

    .wrapper-btn {
      display: flex;
      flex-direction: row;

      justify-content: center;
      align-items: center;

      height: 100%;
      width: 100%;

      border-radius: var(--border-radius);
      overflow: hidden;

      border: 1px solid var(--dark-active-bg);
      button {
        border-radius: 0;
      }
    }

    button {
      width: 100%;

      padding-top: 2px;
      padding-bottom: 2px;

      color: var(--active-text);

      border-radius: var(--border-radius);
    }

    .approve-btn {
      height: 100%;
      border: none;
    }

    .approve-plus-btn {
      width: 28px;
      background-color: var(--primary-background);
      height: 100%;
      border: none;

      transition: 0.3s ease;

      i {
        font-size: 18px;
        color: var(--primary-text);
      }

      &:hover {
        background-color: var(--dark-active-bg);
        i {
          color: var(--active-text);
        }
      }
    }

    .reject-btn {
      height: 100%;
    }

    .return-btn {
      background-color: var(--orange);

      padding-left: 0.75rem;
      padding-right: 0.75rem;

      border: 1px solid var(--dark-orange);

      i {
        font-size: 1.25rem;
      }
    }
  }
}

/* MODAL */
.add-event-modal .modal-body .row .col {
  display: grid;
  gap: 1rem;
}

.request-budget-modal {
  .modal-body > .container-fluid {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .filepond--root label {
      font-weight: normal !important;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h4,
      label {
        font-weight: var(--semi-bold);
      }
    }
  }
}

.return-event-request-modal {
  .modal-body > .container-fluid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-size: var(--large);
        font-weight: var(--medium);
      }
    }
  }
}
