.page-body {
  height: 100%;
}

.calendar-container {
  height: 100%;
}

/* TIPPY */
.tippy-event-details {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.625rem;
  padding-bottom: 1rem;

  > .col {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .header {
      .col > :first-child {
        margin-right: 10rem;
      }

      .col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .action-group {
          display: flex;
          align-items: center;
          gap: 1rem;

          i {
            font-size: 1.25em;
          }

          .options-btn {
            color: var(--primary-text);
          }
        }
      }
    }

    .title {
      .col {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        h4 {
          font-weight: var(--bold);
        }
      }
    }
    .date {
      h5 {
        color: var(--inactive-text-dark);
      }

      gap: 1rem;

      /* .col {
        width: 300px;
      } */
    }
  }
}

.tippy-options {
  .button {
    &:hover {
      color: var(--hovered);
    }
  }
}

/* .scheduled-by {
} */

/* PANEL: EVENT APPROVAL */
.event-approval-panel {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--primary-background);

  width: 0rem;
  height: 100vh;

  border-left: 1px solid var(--border-color);

  padding: 0rem;
  gap: 1rem;

  transition: 0.3s ease;
  h3 {
    font-weight: var(--medium);
  }
}

.event-approval-panel.show {
  width: 22rem;
  padding: 1rem;
}

/* CARD: EVENT REQUEST */
.event-request-card {
  background-color: var(--secondary-background);
  padding: 1rem;

  > .col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    border-bottom: 1px solid var(--primary-text);
    padding-bottom: 0.625rem;

    .profile-container {
      justify-content: center;
    }

    .row {
      gap: 0.625rem;
    }

    .col,
    .col-auto {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      .image {
        width: 25px;
        height: 25px;
        background-color: var(--);
        border-radius: 50%;
      }

      h4 {
        font-weight: var(--medium);
      }
    }
  }

  .default {
    gap: 0.625rem;
  }

  .body {
    .col {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .date {
        gap: 1rem;
        .row {
          gap: 1rem;
        }
        .col {
          gap: 0;
        }
      }
    }
  }

  .button-row {
    gap: 1rem;

    .col {
      display: flex;
      flex-direction: row;
      justify-content: center;

      button {
        width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;
      }
      .approve-btn {
        background-color: var(--active-background);
        color: var(--active-text);
      }
      .reject-btn {
        background-color: var(--danger);
        color: var(--active-text);
      }
    }
  }
}

/* MODAL */
.add-event-modal .modal-body .row .col {
  display: grid;
  gap: 1rem;
}
