/* IF PAGE HEADER HAVE MULTIPLE ROWS */
.page-header {
  .row,
  .col {
    margin-right: 0 !important;
  }

  h3 {
    font-weight: var(--regular);
  }

  > .col {
    display: flex;
    flex-direction: column;
    align-items: unset;

    gap: 0.625rem;

    .col {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.page-body {
  > .col {
    gap: 2rem;
  }
}
