/* THEME: LIGHT */
.tippy-box[data-theme~="light"] {
  background-color: var(--primary-background);
  color: var(--primary-text);
  border: 1px solid var(--border-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

/* ARROW COLOR */
.tippy-box[data-theme~="light"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: var(--primary-background);
}

.tippy-box[data-theme~="light"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: var(--primary-background);
}
.tippy-box[data-theme~="light"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: var(--primary-background);
}
.tippy-box[data-theme~="light"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: var(--primary-background);
}

/* THEME: LIGHT (NO BORDER) */
.tippy-box[data-theme~="light-no-border"] {
  background-color: var(--primary-background);
  color: var(--primary-text);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

/* CUSTOM */
.tippy-no-bullets {
  ul {
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;

    li {
      padding-left: 6px;
      padding-right: 6px;
      border-radius: 6px;

      &:hover {
        background-color: var(--hovered);
      }
    }
  }

  a {
    list-style: none;
    text-decoration: none;
    color: var(--primary-text);
  }
}

.tippy-selection {
  ul {
    border-radius: 0;
    li {
      padding: 0;
      border: 0;

      border-radius: var(--border-radius) !important;
      overflow: hidden;
    }
  }

  button {
    font-weight: var(--medium);

    width: 100%;

    text-align: left;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    &:hover {
      background-color: var(--hovered);
    }
  }
}

.tippy-event-details {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.625rem;
  padding-bottom: 1rem;

  h5 {
    color: var(--inactive-text-dark);
  }

  > .col {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .header {
      .col > :first-child {
        margin-right: 10rem;
      }

      .col {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .action-group {
          i {
            font-size: 1.25em;
          }

          .options-btn {
            color: var(--primary-text);
          }
        }
      }
    }

    .title {
      .col {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;

        h4 {
          font-weight: var(--bold);
        }
      }
    }
    .date {
      gap: 1rem;
    }
  }
}
