.add-member-modal .profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.add-member-modal .profile-image {
  width: 150px;
  height: 150px;
}

.add-member-btn .bi-plus {
  font-size: 1.2rem;
}
.profile-container .link {
  color: var(--link);
  font-size: var(--small);
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
