.add-member-modal .row {
  display: flex;
  width: 100%;
  column-gap: 1rem;
}

.add-member-modal .container-fluid {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.add-member-modal .profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 16px;
}

.add-member-modal .profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: relative;
}

.add-member-modal .profile-container > .removeProfile {
  position: absolute;
  top: 3%;
  right: 41%;
  width: 20px;
  height: 20px;
}

.add-member-btn .bi-plus {
  font-size: 1.2rem;
}
.profile-container .link {
  color: var(--link);
  font-size: var(--small);
}

.members-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
