.members-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.add-member-modal {
  .modal-body {
    .container-fluid {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }

    .profile-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1.5rem;

      .profile-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        position: relative;
      }

      .removeProfile {
        display: none;
      }

      .link {
        color: var(--info);
        font-size: var(--small);
      }
    }

    .row {
      display: flex;
      gap: 1rem;

      .col,
      .col-12 {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .name {
      .col {
        gap: 0.625rem;

        label {
          color: var(--inactive-text-dark);
          font-size: var(--small);
        }
      }
    }
  }
}
