.members-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.add-member-modal .row {
  display: flex;
  width: 100%;
  column-gap: 1rem;
}

.add-member-modal .container-fluid {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.add-member-modal .profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 16px;
}

.add-member-modal .profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: relative;
}

.add-member-modal .profile-container > .removeProfile {
  color: var(--red);
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  transform: translate(65px, -78px);
  display: none;
}

.add-member-modal .profile-container .link {
  color: var(--link);
  font-size: var(--small);
}

.add-member-modal:first-of-type
  .modal-body
  .container-fluid
  > .row:nth-of-type(2)
  label {
  font-size: var(--small);
}
