@import url("variables.css");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-background);
  font-family: var(--font-family);
  color: var(--primary-text);
}

h1 {
  font-size: var(--extra-extra-large);
}

h2 {
  font-size: var(--extra-large);
}

h3 {
  font-size: var(--large);
}

h4 {
  font-size: var(--regular);
}

h5 {
  font-size: var(--small);
}

h6 {
  font-size: var(--very-small);
}

p {
  font-size: var(--regular);
  margin: 0;
}

label {
  margin: 0 !important;
}

/* BOOTSTRAP */
.col-auto,
.col {
  padding: 0;
  margin: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
  padding: 0;
}

/* CUSTOM */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1rem;
}

.page-header .col {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-items: flex-start;
  align-items: center;
}

.page-header .col :first-child {
  margin-right: auto;
}

.page-body {
  display: grid;
  gap: 1rem;
}

.page-body > .col {
  display: grid;
  gap: 1rem;
}

.page-body .content {
  background-color: var(--primary-background);
  border-radius: var(--border-radius);
  padding: 1rem;

  .col {
    display: grid;
    gap: 1rem;
  }
}

.back-button {
  text-decoration: none;
  color: var(--primary-text);
}

.no-border {
  border: none !important;
}

.row-gap {
  gap: 1rem;
}

.col-gap {
  display: grid;
  gap: 0.625rem;
}

.no-style-btn {
  background: none;
  border: none;
}
