@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-family: "Inter", serif;

  /* BACKGROUND */
  --primary-background: #ffffff;
  --secondary-background: #f5f5f5; /* when the primary background is hovered */
  --secondary-hvrd-background: #e7e7e7; /* when the secondary background is hovered */

  /* ACTIVE */
  --active-background: #2d642b;
  --active-text: #ffffff;

  /* FONT COLORS */
  --primary-text: #383838;
  --link: #153da3;

  /* COLORS */
  --blue: #4464cf;

  /* FONT SIZES */
  --small: 0.875rem; /* 14px */
  --regular: 1rem; /* 16px */
  --large: 1.125rem; /* 18px */
  --extra-large: 1.375rem; /* 22px */
  --extra-extra-large: 2.375rem; /* 38px */

  /* FONT WEIGHTS */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700px;

  /* BORDER COLOR */
  --border-color: #e9e9e9;

  /* BORDER RADIUS */
  --border-radius: 8px;
}

/* BOOTSTRAP */
.btn-primary {
  --bs-btn-color: var(--active-text);
  --bs-btn-bg: var(--active-background);
  --bs-btn-border-color: var(--active-background);
  --bs-btn-hover-color: var(--active-text);
  --bs-btn-hover-bg: #477245;
  --bs-btn-hover-border-color: #41683f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--active-text);
  --bs-btn-active-bg: var(--active-background);
  --bs-btn-active-border-color: #2d642b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--active-text);
  --bs-btn-disabled-bg: #376036;
  --bs-btn-disabled-border-color: #386136;
}

.btn {
  --bs-btn-font-family: var(--font-family);
  --bs-btn-font-size: var(--regular);
  --bs-btn-font-weight: var(--medium);
  --bs-btn-border-radius: var(--border-radius);
}

.form-control {
  border-radius: 0;
  border: 1px solid var(--primary-text);
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--active-background);
  outline: 0;
  box-shadow: none;
}

.form-select {
  border-radius: 0;
  border: 1px solid var(--primary-text);
}

.form-select:focus {
  border-color: var(--active-background);
  outline: 0;
  box-shadow: none;
}
