@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-family: "Inter", serif;

  /* Background */
  --primary-background: #ffffff;
  --secondary-background: #f5f5f5;

  /* Hovered Color */
  --hovered: #f5f5f5; /* when the primary background is hovered */

  /* Active */
  --active-background: #2d642b;
  --active-text: #ffffff;

  /* Semantic Colors */
  --success: #0c9515;
  --danger: #ba1515;
  --warning: #ffbb27;
  --info: #153da3;

  /* Colors */
  --pink: #ad2454;
  --purple: #8219a8;

  /* finance table colors */
  --gray: #575757;
  --light-orange: #ffd084;
  --light-yellow: #fcfc83;
  --light-green: #b4dab7;
  --light-blue: #96abdf;

  /* Font Colors */
  --primary-text: #383838;
  --inactive-text-dark: #787878;
  --inactive-text-light: #e3e3e3;

  /* Font Sizes */
  --very-small: 0.75rem; /* 12px */
  --small: 0.875rem; /* 14px */
  --default: 1rem; /* 16px */
  --large: 1.125rem; /* 18px */
  --extra-large: 1.375rem; /* 22px */
  --extra-extra-large: 2.375rem; /* 38px */

  /* Font Weights */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* Border */
  --border-color: #dfdee1;
  --border-radius: 8px;

  /* Box Shadow */
  /* For focused elements */
  --box-shadow: 196, 169, 21; /* GOLD */
}

/* DARK MODE */
[data-theme="dark"] {
  /* Background */
  --primary-background: #1e262f;
  --secondary-background: #151922;

  /* Hovered Color */
  --hovered: #252d37; /* when the primary background is hovered */

  /* Active */
  --active-background: #21531f;
  --active-text: #d3d3d3;

  /* Semantic Colors */
  --success: #0c9515;
  --danger: #ba1515;
  --warning: #ffbb27;
  --info: #153da3;

  /* Font Colors */
  --primary-text: #b8b8b8;
  --inactive-text-dark: #888888;
  --inactive-text-light: #cccccc;

  /* Border */
  --border-color: #343b44;

  /* BOOTSTRAP */
  /* Accordion */
  .accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23b8b8b8' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23c7c7c7' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
  }

  /* FULLCALENDAR */
  --fc-border-color: var(--border-color);
}

/* BOOTSTRAP */
:root,
[data-bs-theme="light"] {
  --bs-body-color: var(--primary-text);
  --bs-border-color: var(--border-color);
  --bs-body-bg: var(--primary-background);
}

/* Container */
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: none;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: none;
  }
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: none;
  }
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: none;
  }
}
/* Icons */
.bi-plus-lg,
.bi-plus {
  -webkit-text-stroke: 1px;
}

/* Headings */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text);
}

.table {
  --bs-table-color: var(--primary-text);
  --bs-table-border-color: var(--border-color);
}

/* Form */
.form-control {
  border-radius: 0;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--primary-text);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.074);
}

.form-select {
  border-radius: 0;
}

.form-select:focus {
  border-color: var(--primary-text);
  outline: 0;
  box-shadow: none;
}

.form-check {
  margin-bottom: 0;
}

.input-group-text {
  background-color: var(--primary-background);
  border-radius: 0;
}

/* Buttons */
.btn {
  --bs-btn-font-family: var(--font-family);
  --bs-btn-font-size: var(--default);
  --bs-btn-font-weight: var(--regular);
  --bs-btn-border-radius: var(--border-radius);
}

.btn-primary {
  --bs-btn-color: var(--active-text);
  --bs-btn-bg: var(--active-background);
  --bs-btn-border-color: var(--active-background);
  --bs-btn-hover-color: var(--active-text);
  --bs-btn-hover-bg: #477245;
  --bs-btn-hover-border-color: #41683f;
  --bs-btn-focus-shadow-rgb: var(--box-shadow);
  --bs-btn-active-color: var(--active-text);
  --bs-btn-active-bg: var(--active-background);
  --bs-btn-active-border-color: #2d642b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--active-text);
  --bs-btn-disabled-bg: #376036;
  --bs-btn-disabled-border-color: #386136;
}

.btn-outline-primary {
  --bs-btn-color: var(--active-background);
  --bs-btn-border-color: var(--active-background);
  --bs-btn-hover-color: var(--active-text);
  --bs-btn-hover-bg: var(--active-background);
  --bs-btn-hover-border-color: var(--active-background);
  --bs-btn-active-color: var(--active-text);
  --bs-btn-active-bg: var(--active-background);
  --bs-btn-active-border-color: var(--active-background);
  --bs-btn-disabled-color: var(--active-background);
  --bs-btn-disabled-border-color: var(--active-background);
}

.btn-close {
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(var(--box-shadow), 0.25);
}

/* ACCORDION */
.accordion {
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-active-color: var(--active-text);
  --bs-accordion-active-bg: var(--active-background);
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion:has(.accordion-button:not(.collapsed)) {
  --bs-accordion-border-color: var(--active-background);
}

/* Nav */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--active-text);
  background-color: var(--active-background);
}

.nav {
  --bs-nav-link-color: var(--primary-text);
  --bs-nav-link-hover-color: var(--active-background);
}

/* SWEET ALERT 2 */
:root {
  --swal2-color: var(--primary-text) !important;
}

/* FULLCALENDAR */
.fc .fc-toolbar-title {
  font-size: var(--extra-large);
}

.fc-event {
  cursor: pointer;
}

.fc .fc-popover {
  z-index: 1050;
}

.calendar a {
  color: var(--primary-text);
  text-decoration: none;
}

.fc-others-button {
  .others {
    height: 22px;
    font-size: 18px !important;
  }
}

/* FANCYBOX */
.fancybox__container {
  z-index: var(--fancybox-zIndex, 2000) !important;
}
