@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --font-family: "Inter", serif;

  /* BACKGROUND */
  --primary-background: #ffffff;
  --secondary-background: #f5f5f5;

  /* HOVERED COLOR */
  --hovered: #f5f5f5; /* when the primary background is hovered */

  /* ACTIVE */
  --active-background: #2d642b;
  --active-text: #ffffff;

  /* SEMANTIC COLORS */
  /* --success:; */
  --danger: #ba1515;
  /* --warning:; */
  --info: #153da3;

  /* COLORS */
  /* --gray */

  /* FONT COLORS */
  --primary-text: #383838;
  --inactive-text-dark: #787878;
  --inactive-text-light: #e3e3e3;

  /* FONT SIZES */
  --very-small: 0.75rem; /* 12px */
  --small: 0.875rem; /* 14px */
  --regular: 1rem; /* 16px */
  --large: 1.125rem; /* 18px */
  --extra-large: 1.375rem; /* 22px */
  --extra-extra-large: 2.375rem; /* 38px */

  /* FONT WEIGHTS */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  /* BORDER */
  --border-color: #dfdee1;
  --border-radius: 8px;
}

/* BOOTSTRAP */
:root,
[data-bs-theme="light"] {
  --bs-body-color: var(--primary-text);
  --bs-border-color: var(--border-color);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary-text);
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--primary-text);
  outline: 0;
  box-shadow: none;
}

.form-select {
  border-radius: 0;
}

.form-select:focus {
  border-color: var(--primary-text);
  outline: 0;
  box-shadow: none;
}

.form-check {
  margin-bottom: 0;
}

.input-group-text {
  background-color: var(--primary-background);
  border-radius: 0;
}

.btn-primary {
  --bs-btn-color: var(--active-text);
  --bs-btn-bg: var(--active-background);
  --bs-btn-border-color: var(--active-background);
  --bs-btn-hover-color: var(--active-text);
  --bs-btn-hover-bg: #477245;
  --bs-btn-hover-border-color: #41683f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--active-text);
  --bs-btn-active-bg: var(--active-background);
  --bs-btn-active-border-color: #2d642b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--active-text);
  --bs-btn-disabled-bg: #376036;
  --bs-btn-disabled-border-color: #386136;
}

.btn {
  --bs-btn-font-family: var(--font-family);
  --bs-btn-font-size: var(--regular);
  --bs-btn-font-weight: var(--regular);
  --bs-btn-border-radius: var(--border-radius);
}

.accordion {
  --bs-accordion-active-color: var(--active-text);
  --bs-accordion-active-bg: var(--active-background);
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'><path d='M2 5L8 11L14 5'/></svg>");
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion:has(.accordion-button:not(.collapsed)) {
  --bs-accordion-border-color: var(--active-background);
}

/* FULLCALENDAR */
.fc .fc-toolbar-title {
  font-size: var(--extra-large);
}
