.credit-expense-section {
  margin-top: 0.375rem;
  margin-bottom: 1rem;

  .entry {
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    padding-left: 1rem;
    padding-right: 1rem;

    gap: 1rem;

    input {
      border: none;
      text-align: right;
    }
  }
}

.filepond-container {
  margin-top: 1rem;
}

.summary-table {
  tr td:last-child {
    text-align: right;
  }
}
