/* MODAL */
.add-record-modal {
  .warning {
    border: 1px solid var(--warning);
    border-radius: var(--border-radius);
    padding: 0.8rem;

    text-align: center;
    align-items: center;

    background-color: rgba(245, 205, 17, 0.59);

    .col-auto {
      i {
        font-size: 2rem;
      }
    }
  }
  .academic-year-row {
    gap: 0.5rem;
    .col-auto {
      display: flex;
      align-items: center;

      i {
        -webkit-text-stroke: 1px;
      }
    }
  }
}

/* FINANCE OVERVIEW */
.finance-overview {
  gap: 1.5rem;

  /* FIRST COLUMN */
  > .col:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  /* SECOND COLUMN */
  > .col:last-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    /* FIRST ROW */
    .row:first-child .col {
      table {
        margin-bottom: 0;
      }

      > :last-child {
        align-self: end;
        font-style: italic;
        button {
          font-style: italic;
          color: var(--info);
          text-decoration: underline;
        }
      }
    }

    /* SECOND ROW */
    .row:last-child {
      .col {
        gap: 1rem;

        /* CHART CONTAINER */
        .chart-container .col {
          height: 10rem;
        }

        p {
          align-self: flex-end;
        }
      }
    }
  }

  /* TABLES */
  .table-inflow {
    tr:first-child td:first-child,
    tr:last-child td:first-child {
      text-align: right;
    }

    tr td:last-child {
      text-align: right;
      vertical-align: middle;
    }
  }

  .table-balance-summary {
    tr td:last-child {
      text-align: right;
    }
  }
}

/* FINANCIAL RECORDS CONTAINER */
.financial-records {
  .header {
    .col {
      display: flex;
      flex-direction: row;
      align-items: center;

      justify-content: space-between;
    }
  }

  .month {
    &:hover {
      background-color: var(--hovered);
    }
    .col {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--border-color);

      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      padding-left: 1rem;
      padding-right: 1rem;

      i {
        color: var(--active-background);
        font-size: 1.5rem;
      }
    }
  }
}
