/* FINANCE OVERVIEW */
.finance-overview {
  gap: 1.5rem;

  /* FIRST COLUMN */
  > .col:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }

  /* SECOND COLUMN */
  > .col:last-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    /* FIRST ROW */
    .row:first-child .col {
      table {
        margin-bottom: 0;
      }

      > :last-child {
        align-self: end;
        font-style: italic;
        button {
          font-style: italic;
          color: var(--info);
          text-decoration: underline;
        }
      }
    }

    /* SECOND ROW */
    .row:last-child {
      .col {
        gap: 1rem;

        /* CHART CONTAINER */
        .chart-container .col {
          height: 10rem;
        }

        p {
          align-self: flex-end;
        }
      }
    }
  }

  /* TABLES */
  .table-inflow {
    tr:first-child td:first-child,
    tr:last-child td:first-child {
      text-align: right;
    }

    tr td:last-child {
      text-align: right;
      vertical-align: middle;
    }
  }

  .table-balance-summary {
    tr td:nth-child(2) {
      text-align: right;
    }

    tr td:nth-child(3) {
      width: 32px;
      text-align: center;

      padding-right: 0;
    }

    tr td:nth-child(4) {
      width: 64px;
      padding-left: 0.25rem;
    }

    i {
      font-size: 0.875rem;
    }
  }
}

/* FINANCIAL RECORDS CONTAINER */
.financial-records {
  .header {
    .col {
      display: flex;
      flex-direction: row;
      align-items: center;

      justify-content: space-between;
    }
  }
  ul {
    border-radius: 0;
    gap: 1rem;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      border: 1px solid var(--border-color) !important;

      padding-top: 0.625rem;
      padding-bottom: 0.625rem;

      &:hover {
        background-color: var(--hovered);
        cursor: pointer;
      }

      i {
        color: var(--active-background);
        font-size: 1.5rem;
      }
    }
  }
}

/* MODAL */
/* Add Record Modal */
.add-record-modal {
  .warning {
    border: 1px solid var(--warning);
    border-radius: var(--border-radius);
    padding: 0.8rem;

    text-align: center;
    align-items: center;

    background-color: rgba(245, 205, 17, 0.59);

    .col-auto {
      i {
        font-size: 2rem;
      }
    }
  }
  .academic-year-row {
    gap: 0.5rem;
    .col-auto {
      display: flex;
      align-items: center;

      i {
        -webkit-text-stroke: 1px;
      }
    }
  }
}

/* Generate Image Modal */
.statement-summary-modal {
  .financial-statement {
    padding: 1rem;
    --border-weight: 2px;

    > .col {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .table > :not(caption) > * > * {
        background-color: transparent;
      }

      .header {
        > .col {
          .row:first-child {
            border: var(--border-weight) solid var(--gray);
          }

          .row:last-child {
            background-color: var(--light-orange);

            border-bottom: var(--border-weight) solid var(--gray);
            border-left: var(--border-weight) solid var(--gray);
            border-right: var(--border-weight) solid var(--gray);

            h4 {
              font-weight: var(--medium);
            }
          }

          .col {
            padding: 0.5rem;
            text-align: center;
          }
        }
      }

      .table {
        border: var(--border-weight) solid var(--gray);

        margin-bottom: 0;

        tr td:last-child {
          border-left: 1px solid var(--gray);
        }
      }

      .table:first-of-type {
        tr:first-child {
          border: 1px solid var(--gray);
          background-color: var(--light-orange);
        }
        tr:nth-child(9) {
          border: 1px solid var(--gray);
          background-color: var(--light-yellow);
        }
        tr:last-child {
          border: 1px solid var(--gray);
          background-color: var(--light-green);
        }
      }

      .table:last-of-type {
        tr:first-child {
          border: 1px solid var(--gray);
          background-color: var(--light-yellow);
        }
        tr:nth-child(2) {
          border: 1px solid var(--gray);
          background-color: var(--light-green);
        }
        tr:last-child {
          border: 1px solid var(--gray);
          background-color: var(--light-blue);
        }
      }
    }
  }
}

/* View Record Modal */
.view-record-modal {
  .modal-body {
    > .container-fluid {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      table {
        border: 1px solid var(--border-color);

        tr {
          td:last-child {
            text-align: center;
          }
        }
      }

      .gallery-container {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
