.add-activity-modal .modal-body .col {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.add-activity-modal .modal-body .col label {
  font-size: var(--large);
}
