h2 {
  font-weight: var(--medium);
}

.content-header .col-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;
}

.content-header button {
  background: none;
  border: none;

  i {
    -webkit-text-stroke: 1px;
  }
}

.content-list .col-12 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ACCORDION */
.accordion-button::after {
  margin-left: 0;
}

.accordion-accomplishments {
  .accordion-header {
    .accordion-button :first-child {
      margin-right: auto;
    }

    .action-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;

      .events {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;

        i {
          color: var(--inactive-text-dark);
          font-size: 1.4rem;
          -webkit-text-stroke: 0.4px;
        }
      }

      p {
        color: var(--inactive-text-dark);
      }
      span {
        color: var(--active-background);
      }

      button {
        display: flex;
        align-items: center;
        height: 100%;

        i {
          display: flex;
          font-size: 20px;
          color: var(--active-background);
          padding: 2px;
        }
      }
    }
  }

  .accordion-body {
    padding: 0;

    ul {
      border: none;
      --bs-list-group-border-color: none;
      --bs-list-group-border-width: 0;
      --bs-list-group-border-radius: 0;
      border-bottom-left-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0.75rem 1.25rem;

        .action-group {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;

          button {
            i {
              font-size: 20px;
            }
          }

          .editEvent {
            color: var(--info);
          }

          .deleteEvent {
            color: var(--danger);
          }
        }
      }

      li:hover {
        background-color: var(--hovered);
      }
    }
  }
}
.accordion-button:not(.collapsed) {
  .action-group {
    .events {
      p,
      i {
        color: var(--inactive-text-light) !important;
      }
    }
    span,
    i {
      color: var(--active-text) !important;
    }
  }
}

.generatePDF i {
  -webkit-text-stroke: 0.6px;
}
