h2 {
  font-weight: var(--medium);
}

.content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 0.5rem;
}

.content-header button {
  background: none;
  border: none;

  i {
    -webkit-text-stroke: 1px;
  }
}

.content-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  i {
    cursor: pointer;
    color: var(--active-background);
    font-size: 1.5rem;
  }
}

.content-list li:hover {
  background-color: var(--hovered);
}

.add-activity-modal .modal-body .col {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.add-activity-modal .modal-body .col label {
  font-size: var(--large);
}
