.page-body > .row:first-child > .col {
  text-align: center;
}

.page-body > .row:first-child .row:first-child h3 {
  margin-bottom: 1rem;
}

.page-body > .row:first-child .row:nth-child(2) .col {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);
}

/* SPLIDE */
.splide {
  margin-bottom: 1rem;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.splide__slide .image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
}

.splide__slide .image-overlay button {
  background: none;
  border: none;
  color: white;
}

.splide__slide .image-overlay button:hover {
  background: none;
  border: none;
  color: var(--red);
}

.splide__slide:hover .image-overlay {
  opacity: 1;
}

/* PARTICIPANTS GRID */
.page-body > .row:nth-of-type(3) > .col > .row > .col {
  border: 1px solid var(--border-color);
}

/* First Row */
.page-body > .row:nth-of-type(3) > .col > .row > .col > .row:first-of-type {
  border-bottom: 1px solid var(--border-color);
}

/* Select all */
.page-body
  > .row:nth-of-type(3)
  > .col
  > .row
  > .col
  .row:first-of-type
  > .col-auto {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-content: center;
}

/* Search Bar */
.page-body
  > .row:nth-of-type(3)
  > .col
  > .row
  > .col
  .row:first-of-type
  > .col {
  align-content: center;
  border-left: 1px solid var(--border-color);
}

/* Member List */
.page-body
  > .row:nth-of-type(3)
  > .col
  > .row
  > .col
  > .row:last-of-type
  .col-4 {
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

/* Right Column */
.page-body
  > .row:nth-of-type(3)
  > .col
  > .row
  > .col
  > .row:last-of-type
  .col-4:nth-child(3n) {
  border-right: none;
}

/* Bottom Row */
.page-body
  > .row:nth-of-type(3)
  > .col
  > .row
  > .col
  > .row:last-of-type
  .col-4:nth-child(3n + 1):nth-last-child(-n + 3),
.page-body
  > .row:nth-of-type(3)
  > .col
  > .row
  > .col
  > .row:last-of-type
  .col-4:nth-child(3n + 2):nth-last-child(-n + 2),
.page-body
  > .row:nth-of-type(3)
  > .col
  > .row
  > .col
  > .row:last-of-type
  .col-4:nth-child(3n + 3):nth-last-child(-n + 1) {
  border-bottom: none;
}

/* SUBMIT BUTTON */
.page-body > .row:last-of-type .col {
  display: flex;
  justify-content: flex-end;
}
