/* GALLERY TEXT */
.page-body .content:first-of-type .row:first-of-type {
  margin-bottom: 1rem;
  .col {
    display: flex;
    justify-content: center;
  }
}

/* GALLERY BROWS FILES */
.page-body .content:first-of-type .row:nth-of-type(3) {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--secondary-background);
  border-radius: var(--border-radius);

  .col {
    display: grid;
    text-align: center;
    gap: 0.625rem;
  }
}

/* SPLIDE */
.splide {
  margin-bottom: 1rem;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.splide__slide .image-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
}

.splide__slide .image-overlay button {
  color: white;
}

.splide__slide .image-overlay button:hover {
  color: var(--red);
}

.splide__slide:hover .image-overlay {
  opacity: 1;
}

/* PARTICIPANTS GRID */
.page-body .participants {
  border: 1px solid var(--border-color);
}

.participants > .col {
  gap: 0 !important;
}

/* First Row */
.first-row {
  border-bottom: 1px solid var(--border-color);
}

/* Select all */
.page-body .content:nth-of-type(3) .col-auto {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-content: center;
}

/* Search Bar */
.page-body .content:nth-of-type(3) .row:first-of-type .row:first-of-type .col {
  align-content: center;
  border-left: 1px solid var(--border-color);
}

/* Member List */
.member {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.member .form-check {
  margin-right: auto;
}

.add-recognition {
  display: none;
}

.add-recognition:hover {
  cursor: pointer;
}

/* Right Column */
.member:nth-child(3n) {
  border-right: none;
}

/* Bottom Row */
.member:nth-child(3n + 1):nth-last-child(-n + 3),
.member:nth-child(3n + 2):nth-last-child(-n + 2),
.member:nth-child(3n + 3):nth-last-child(-n + 1) {
  border-bottom: none;
}

/* SUBMIT BUTTON */
.submit-row .col {
  display: flex;
  justify-content: flex-end;
}

.recognition-container {
  display: none;
}

.recognition-container .recognition-form .row:first-of-type > .col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recognition-form .remove-recognition-btn {
  font-size: 1.2rem;
  color: var(--red);
  cursor: pointer;
}
