h2 {
  font-weight: var(--medium);
}

.container {
  .header {
    margin-bottom: 0.5rem;
  }

  .body {
    .col-12 {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

/* ACCORDION */
.accordion-finance {
  .accordion-button :first-child {
    margin-right: auto;
  }

  .accordion-button::after {
    margin-left: 1rem;
  }

  .accordion-button {
    span:last-child {
      color: var(--inactive-text-dark);
    }
  }

  .accordion-button:not(.collapsed) {
    span:last-child {
      color: var(--inactive-text-light);
    }
  }

  .accordion-body {
    padding: 0;

    ul {
      border: none;
      --bs-list-group-border-color: none;
      --bs-list-group-border-width: 0;
      --bs-list-group-border-radius: 0;
      border-bottom-left-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0.75rem 1.25rem;

        button {
          i {
            font-size: 22px;
            color: var(--active-background);
          }
        }
      }

      li:hover {
        background-color: var(--hovered);
        cursor: pointer;
      }
    }
  }
}

/* MODAL */
.generate-report-modal {
  .modal-body {
    .form-check .form-check-input {
      float: right;
      margin-left: 0;
    }

    .form-check {
      padding-left: 0;
    }

    .row:first-child {
      label {
        font-size: var(--large);
      }
    }

    h3 {
      font-weight: var(--regular);
    }

    .container-fluid {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      gap: 2.5rem;
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 1rem;

      ul {
        width: 100%;
      }
    }
  }
}

/* View Record Modal */
.view-record-modal {
  .modal-body {
    > .container-fluid {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .section {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      table {
        border: 1px solid var(--border-color);

        tr {
          td:last-child {
            text-align: center;
          }
        }
      }

      .gallery-container {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

.statement-summary-modal {
  .financial-statement {
    --orange: #ffd084;
    --yellow: #fcfc83;
    --green: #b4dab7;
    --blue: #96abdf;

    padding: 1rem;

    --border-weight: 2px;
    --border-color: #575757;

    > .col {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .table > :not(caption) > * > * {
        background-color: transparent;
      }

      .header {
        > .col {
          .row:first-child {
            border: var(--border-weight) solid var(--border-color);
          }
          .row:last-child {
            background-color: var(--orange);

            border-bottom: var(--border-weight) solid var(--border-color);
            border-left: var(--border-weight) solid var(--border-color);
            border-right: var(--border-weight) solid var(--border-color);

            h4 {
              font-weight: var(--medium);
            }
          }
          .col {
            padding: 0.5rem;
            text-align: center;
          }
        }
      }

      .table {
        border: var(--border-weight) solid var(--border-color);

        margin-bottom: 0;

        tr td:last-child {
          border-left: 1px solid var(--border-color);
        }
      }

      .table:first-of-type {
        tr:first-child {
          border: 1px solid var(--border-color);
          background-color: var(--orange);
        }
        tr:nth-child(9) {
          border: 1px solid var(--border-color);
          background-color: var(--yellow);
        }
        tr:last-child {
          border: 1px solid var(--border-color);
          background-color: var(--green);
        }
      }

      .table:last-of-type {
        tr:first-child {
          border: 1px solid var(--border-color);
          background-color: var(--yellow);
        }
        tr:nth-child(2) {
          border: 1px solid var(--border-color);
          background-color: var(--green);
        }
        tr:last-child {
          border: 1px solid var(--border-color);
          background-color: var(--blue);
        }
      }
    }
  }
}
