h2 {
  font-weight: var(--medium);
}

.container {
  .header {
    margin-bottom: 0.5rem;
  }

  .body {
    .col-12 {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.accordion-finance {
  .accordion-button :first-child {
    margin-right: auto;
  }

  .accordion-button::after {
    margin-left: 1rem;
  }

  .accordion-button {
    span:last-child {
      color: var(--inactive-text-dark);
    }
  }

  .accordion-button:not(.collapsed) {
    span:last-child {
      color: var(--inactive-text-light);
    }
  }

  .accordion-body {
    padding: 0;

    ul {
      border: none;
      --bs-list-group-border-color: none;
      --bs-list-group-border-width: 0;
      --bs-list-group-border-radius: 0;
      border-bottom-left-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;

      li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 0.75rem 1.25rem;

        button {
          i {
            font-size: 22px;
            color: var(--active-background);
          }
        }
      }

      li:hover {
        background-color: var(--hovered);
        cursor: pointer;
      }
    }
  }
}

/* MODAL */
.generate-report-modal {
  .modal-body {
    .form-check .form-check-input {
      float: right;
      margin-left: 0;
    }

    .form-check {
      padding-left: 0;
    }

    .row:first-child {
      label {
        font-size: var(--large);
      }
    }

    h3 {
      font-weight: var(--regular);
    }

    .container-fluid {
      display: flex;
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      gap: 2.5rem;
    }

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;

      gap: 1rem;

      ul {
        width: 100%;
      }
    }
  }
}
