.topbar {
  display: flex;
  flex-direction: row;

  gap: 1rem;

  margin-right: 1rem;

  button {
    font-size: 20px;
  }
}

.notification {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 20rem;
  height: 40vh;

  background-color: var(--primary-background);
  padding: 1rem;

  .body {
    flex-grow: 1;
  }

  .footer {
    text-align: center;
  }
}

.topbar-modal {
  .modal-body .container-fluid {
    > .row {
      align-items: center;
    }
  }
}
