.topbar {
  display: flex;
  flex-direction: row;

  gap: 1rem;

  margin-right: 1rem;

  button {
    font-size: 20px;
  }
}

.topbar-modal {
  .modal-body .container-fluid {
    > .row {
      align-items: center;
    }
  }
}
