.sidebar {
  background-color: var(--primary-background);
  position: sticky;
  top: 0;
  align-self: start;

  width: 270px;
  height: 100vh;

  padding: 12px;

  font-size: var(--regular);
  overflow: hidden;
  transition: 300ms ease-in-out;
  text-wrap: nowrap;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar li {
  width: 100%;
  border-radius: var(--border-radius);
}

.sidebar i {
  flex-shrink: 0;
}

.sidebar .collapse-btn {
  align-self: center;
  border-radius: 50%;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  background: none;
  margin-left: auto;
}

.sidebar .dropdown-btn {
  font-family: var(--font-family);
  background: none;
  color: var(--primary-text);
  width: 100%;
  border: none;
  cursor: pointer;

  .iconrotate {
    transition: rotate 150ms ease;
  }
}

.sidebar .profile-icon {
  background-color: gray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar .icon {
  font-size: 18px;
  margin-left: 1px;
  color: var(--primary-text);
}

.sidebar a,
.sidebar .dropdown-btn {
  display: flex;
  gap: 0.8em;
  text-decoration: none;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;

  color: var(--primary-text);
  border-radius: var(--border-radius);
  align-items: center;
  font-weight: var(--medium);
}

.sidebar a span,
.sidebar .dropdown-btn span {
  display: flex;
  flex-grow: 1;
}

.sidebar .logo {
  transition: 300ms ease-in-out;
}

.sidebar > ul > li:first-child {
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 16px;
  padding: 0px;
}

.sidebar > ul > li:nth-child(2) {
  margin-bottom: 16px;
  gap: 4px;
  display: flex;
  align-items: center;
  padding: 0;
}

.sidebar > ul > li:last-child {
  margin-top: auto;
}

.sidebar > ul > li > a:nth-child(2) {
  font-size: var(--large);
  font-weight: var(--semi-bold);
  text-wrap: wrap;
}

.sidebar .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

.sidebar .sub-menu a {
  padding-left: 2.6em;
}

.sidebar a:hover,
.sidebar .collapse-btn:hover,
.sidebar .dropdown-btn:hover {
  background-color: var(--secondary-background);
}

.sidebar li.active,
.sidebar li.active:hover a {
  background-color: var(--active-background);
}

.sidebar ul li.active a {
  color: var(--active-text);
  i {
    color: var(--active-text);
  }
}

.sidebar > ul > li > a:nth-child(2):hover {
  background-color: transparent;
  width: fit-content;
  text-decoration: underline;
}

.sidebar .sub-menu.show {
  grid-template-rows: 1fr;
}

.sidebar.close {
  padding: 12px;
  width: 64px;
}

.sidebar.close span,
.sidebar.close .iconrotate,
.sidebar.close .logo {
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-in-out;
}

.sidebar span,
.sidebar .iconrotate,
.sidebar .logo {
  opacity: 1;
  visibility: visible;
  transition: 300ms ease-in-out;
}

.sidebar.close .collapse-btn {
  margin-right: 5.5px;
}

.sidebar.close .logo {
  transform: translateX(-100%);
  transition: 300ms ease-in-out;
}

.sidebar .dropdown-btn .iconrotate {
  transition: 200ms ease;
}

.rotate .iconrotate:last-child {
  rotate: 90deg;
}
